/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/ltmain.sh
/libtool
/config.sub
/config.guess
/server/Makefile
/server/Makefile.in
/server/gemelo
/server/gml-marshal.c
/server/gml-marshal.h
/server/gml-enum-types.c
/server/gml-enum-types.h
/server/stamp-enum-types
/server/stamp-marshal
/web/Makefile
/web/Makefile.in
/web/chat.*.html
/web/chat.*.js
/web/index.*.html
/web/index.html.var
/web/*.language-stamp
/doc/Makefile
/doc/Makefile.in
/stamp-h1

.deps
*.o
.libs
