/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/ltmain.sh
/libtool
/config.sub
/config.guess
/src/Makefile
/src/Makefile.in
/src/gemelo
/src/gml-marshal.c
/src/gml-marshal.h
/src/gml-enum-types.c
/src/gml-enum-types.h
/src/stamp-enum-types
/src/stamp-marshal
/web/Makefile
/web/Makefile.in
/web/chat.*.html
/web/chat.*.js
/web/index.*.html
/web/index.html.var
/web/*.language-stamp
/stamp-h1

.deps
*.o
.libs
